# Ignore EVERYTHING by default
*

# Explicitly allow only what you want public
!.gitignore
!.gitmodules
!.zshrc
!README.md
!nvim/
!nvim/**
!wezterm/
!wezterm/**
!starship/
!starship/**
!ai/
!ai/**
!iterm2/
!iterm2/catppuccin-macchiato.itermcolors
!iterm2/DynamicProfiles/
!iterm2/DynamicProfiles/**
!VERSION
!.cz.toml

**/.DS_Store
